#main {
    width: 100%;
    display: flex;
    justify-content: center;
}
.club-selection{
    box-sizing:content-box;
    min-width: 25em;
    height:500px;
    border:1px solid black;
}
.input{
    width:100%
}
.selection{
    display: flex;
}
.name{
    margin-left: 5px;
}
.description{
    display: flex;
}
.description > div{
    white-space: nowrap;    
    margin-right: 20px;
    font-size: 12px;
}
.countryinfo{
    margin-bottom: 20px;
}
.clubs{
    display: flex;
    flex-direction: column;
}
.teamicon{
    width: 60px;
    height: 60px;
}
.teamtitle{
    display: flex;
}
.teamname{
    font-size: 20px;
}
.teamtitledescription{
    font-size: 12px;
    white-space: nowrap;
}
.teampanel > .clubs > h3 {
    display: inline-flex;
    min-width: 340px;
}
.teampanel > .clubs > h3 > :first-child{
    float: left;
}
.ui-accordion .ui-accordion-content{
    padding:1em 1em !important
}
.playerpanel{
    display: flex;
    align-items: center;
}
.playerpanel img{
    width:6em;
    height:6em;
}
.playerpanel > :last-child{
    padding-left: 10px;
    font-size:0.8em
}