#main {
    width: 100%;
    display: flex;
    justify-content: center;
}
.club-selection{
    width:400px;
    border:1px solid black;
}
.countryinput{
    width:100%
}
.countryselection{
    display: flex;
}
.countryname{
    margin-left: 5px;
}
.countrydescription{
    display: flex;
}
.countrydescription > div{
    white-space: nowrap;    
    margin-right: 20px;
    font-size: 12px;
}