docs/rebrand/DSA/DSAConsole/bin/Debug/net7.0/DSAConsole
docs/rebrand/DSA/DSAConsole/bin/Debug/net7.0/DSAConsole.deps.json
docs/rebrand/DSA/DSAConsole/bin/Debug/net7.0/DSAConsole.dll
docs/rebrand/DSA/DSAConsole/bin/Debug/net7.0/DSAConsole.pdb
docs/rebrand/DSA/DSAConsole/bin/Debug/net7.0/DSAConsole.runtimeconfig.json
docs/rebrand/DSA/DSAConsole/obj/DSAConsole.csproj.nuget.dgspec.json
docs/rebrand/DSA/DSAConsole/obj/DSAConsole.csproj.nuget.g.props
docs/rebrand/DSA/DSAConsole/obj/DSAConsole.csproj.nuget.g.targets
docs/rebrand/DSA/DSAConsole/obj/project.assets.json
docs/rebrand/DSA/DSAConsole/obj/project.nuget.cache
docs/rebrand/DSA/DSAConsole/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
docs/rebrand/DSA/DSAConsole/obj/Debug/net7.0/apphost
docs/rebrand/DSA/DSAConsole/obj/Debug/net7.0/DSAConsole.AssemblyInfo.cs
docs/rebrand/DSA/DSAConsole/obj/Debug/net7.0/DSAConsole.AssemblyInfoInputs.cache
docs/rebrand/DSA/DSAConsole/obj/Debug/net7.0/DSAConsole.assets.cache
docs/rebrand/DSA/DSAConsole/obj/Debug/net7.0/DSAConsole.csproj.AssemblyReference.cache
docs/rebrand/DSA/DSAConsole/obj/Debug/net7.0/DSAConsole.csproj.CoreCompileInputs.cache
docs/rebrand/DSA/DSAConsole/obj/Debug/net7.0/DSAConsole.csproj.FileListAbsolute.txt
docs/rebrand/DSA/DSAConsole/obj/Debug/net7.0/DSAConsole.dll
docs/rebrand/DSA/DSAConsole/obj/Debug/net7.0/DSAConsole.GeneratedMSBuildEditorConfig.editorconfig
docs/rebrand/DSA/DSAConsole/obj/Debug/net7.0/DSAConsole.genruntimeconfig.cache
docs/rebrand/DSA/DSAConsole/obj/Debug/net7.0/DSAConsole.GlobalUsings.g.cs
docs/rebrand/DSA/DSAConsole/obj/Debug/net7.0/DSAConsole.pdb
docs/rebrand/DSA/DSAConsole/obj/Debug/net7.0/ref/DSAConsole.dll
docs/rebrand/DSA/DSAConsole/obj/Debug/net7.0/refint/DSAConsole.dll
docs/rebrand/ASPNET/WebAPI/WebAPILab01/bin/Debug/net7.0/appsettings.Development.json
docs/rebrand/ASPNET/WebAPI/WebAPILab01/bin/Debug/net7.0/appsettings.json
docs/rebrand/ASPNET/WebAPI/WebAPILab01/bin/Debug/net7.0/Microsoft.AspNetCore.OpenApi.dll
docs/rebrand/ASPNET/WebAPI/WebAPILab01/bin/Debug/net7.0/Microsoft.OpenApi.dll
docs/rebrand/ASPNET/WebAPI/WebAPILab01/bin/Debug/net7.0/Swashbuckle.AspNetCore.Swagger.dll
docs/rebrand/ASPNET/WebAPI/WebAPILab01/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerGen.dll
docs/rebrand/ASPNET/WebAPI/WebAPILab01/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerUI.dll
docs/rebrand/ASPNET/WebAPI/WebAPILab01/bin/Debug/net7.0/WebAPILab01
docs/rebrand/ASPNET/WebAPI/WebAPILab01/bin/Debug/net7.0/WebAPILab01.deps.json
docs/rebrand/ASPNET/WebAPI/WebAPILab01/bin/Debug/net7.0/WebAPILab01.dll
docs/rebrand/ASPNET/WebAPI/WebAPILab01/bin/Debug/net7.0/WebAPILab01.pdb
docs/rebrand/ASPNET/WebAPI/WebAPILab01/bin/Debug/net7.0/WebAPILab01.runtimeconfig.json
docs/rebrand/ASPNET/WebAPI/WebAPILab01/obj/project.assets.json
docs/rebrand/ASPNET/WebAPI/WebAPILab01/obj/project.nuget.cache
docs/rebrand/ASPNET/WebAPI/WebAPILab01/obj/WebAPILab01.csproj.nuget.dgspec.json
docs/rebrand/ASPNET/WebAPI/WebAPILab01/obj/WebAPILab01.csproj.nuget.g.props
docs/rebrand/ASPNET/WebAPI/WebAPILab01/obj/WebAPILab01.csproj.nuget.g.targets
docs/rebrand/ASPNET/WebAPI/WebAPILab01/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
docs/rebrand/ASPNET/WebAPI/WebAPILab01/obj/Debug/net7.0/apphost
docs/rebrand/ASPNET/WebAPI/WebAPILab01/obj/Debug/net7.0/staticwebassets.build.json
docs/rebrand/ASPNET/WebAPI/WebAPILab01/obj/Debug/net7.0/WebAPILab01.AssemblyInfo.cs
docs/rebrand/ASPNET/WebAPI/WebAPILab01/obj/Debug/net7.0/WebAPILab01.AssemblyInfoInputs.cache
docs/rebrand/ASPNET/WebAPI/WebAPILab01/obj/Debug/net7.0/WebAPILab01.assets.cache
docs/rebrand/ASPNET/WebAPI/WebAPILab01/obj/Debug/net7.0/WebAPILab01.csproj.AssemblyReference.cache
docs/rebrand/ASPNET/WebAPI/WebAPILab01/obj/Debug/net7.0/WebAPILab01.csproj.CopyComplete
docs/rebrand/ASPNET/WebAPI/WebAPILab01/obj/Debug/net7.0/WebAPILab01.csproj.CoreCompileInputs.cache
docs/rebrand/ASPNET/WebAPI/WebAPILab01/obj/Debug/net7.0/WebAPILab01.csproj.FileListAbsolute.txt
docs/rebrand/ASPNET/WebAPI/WebAPILab01/obj/Debug/net7.0/WebAPILab01.dll
docs/rebrand/ASPNET/WebAPI/WebAPILab01/obj/Debug/net7.0/WebAPILab01.GeneratedMSBuildEditorConfig.editorconfig
docs/rebrand/ASPNET/WebAPI/WebAPILab01/obj/Debug/net7.0/WebAPILab01.genruntimeconfig.cache
docs/rebrand/ASPNET/WebAPI/WebAPILab01/obj/Debug/net7.0/WebAPILab01.GlobalUsings.g.cs
docs/rebrand/ASPNET/WebAPI/WebAPILab01/obj/Debug/net7.0/WebAPILab01.MvcApplicationPartsAssemblyInfo.cache
docs/rebrand/ASPNET/WebAPI/WebAPILab01/obj/Debug/net7.0/WebAPILab01.MvcApplicationPartsAssemblyInfo.cs
docs/rebrand/ASPNET/WebAPI/WebAPILab01/obj/Debug/net7.0/WebAPILab01.pdb
docs/rebrand/ASPNET/WebAPI/WebAPILab01/obj/Debug/net7.0/ref/WebAPILab01.dll
docs/rebrand/ASPNET/WebAPI/WebAPILab01/obj/Debug/net7.0/refint/WebAPILab01.dll
docs/rebrand/ASPNET/WebAPI/WebAPILab01/obj/Debug/net7.0/staticwebassets/msbuild.build.WebAPILab01.props
docs/rebrand/ASPNET/WebAPI/WebAPILab01/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.WebAPILab01.props
docs/rebrand/ASPNET/WebAPI/WebAPILab01/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.WebAPILab01.props
