docs/rebrand/DSA/DSAConsole/bin/Debug/net7.0/DSAConsole
docs/rebrand/DSA/DSAConsole/bin/Debug/net7.0/DSAConsole.deps.json
docs/rebrand/DSA/DSAConsole/bin/Debug/net7.0/DSAConsole.dll
docs/rebrand/DSA/DSAConsole/bin/Debug/net7.0/DSAConsole.pdb
docs/rebrand/DSA/DSAConsole/bin/Debug/net7.0/DSAConsole.runtimeconfig.json
docs/rebrand/DSA/DSAConsole/obj/DSAConsole.csproj.nuget.dgspec.json
docs/rebrand/DSA/DSAConsole/obj/DSAConsole.csproj.nuget.g.props
docs/rebrand/DSA/DSAConsole/obj/DSAConsole.csproj.nuget.g.targets
docs/rebrand/DSA/DSAConsole/obj/project.assets.json
docs/rebrand/DSA/DSAConsole/obj/project.nuget.cache
docs/rebrand/DSA/DSAConsole/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
docs/rebrand/DSA/DSAConsole/obj/Debug/net7.0/apphost
docs/rebrand/DSA/DSAConsole/obj/Debug/net7.0/DSAConsole.AssemblyInfo.cs
docs/rebrand/DSA/DSAConsole/obj/Debug/net7.0/DSAConsole.AssemblyInfoInputs.cache
docs/rebrand/DSA/DSAConsole/obj/Debug/net7.0/DSAConsole.assets.cache
docs/rebrand/DSA/DSAConsole/obj/Debug/net7.0/DSAConsole.csproj.AssemblyReference.cache
docs/rebrand/DSA/DSAConsole/obj/Debug/net7.0/DSAConsole.csproj.CoreCompileInputs.cache
docs/rebrand/DSA/DSAConsole/obj/Debug/net7.0/DSAConsole.csproj.FileListAbsolute.txt
docs/rebrand/DSA/DSAConsole/obj/Debug/net7.0/DSAConsole.dll
docs/rebrand/DSA/DSAConsole/obj/Debug/net7.0/DSAConsole.GeneratedMSBuildEditorConfig.editorconfig
docs/rebrand/DSA/DSAConsole/obj/Debug/net7.0/DSAConsole.genruntimeconfig.cache
docs/rebrand/DSA/DSAConsole/obj/Debug/net7.0/DSAConsole.GlobalUsings.g.cs
docs/rebrand/DSA/DSAConsole/obj/Debug/net7.0/DSAConsole.pdb
docs/rebrand/DSA/DSAConsole/obj/Debug/net7.0/ref/DSAConsole.dll
docs/rebrand/DSA/DSAConsole/obj/Debug/net7.0/refint/DSAConsole.dll
