@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>@Model.Message</p>
    <p><a href="https://learn.microsoft.com/en-us/training/modules/build-web-api-aspnet-core/?WT.mc_id=dotnet-35129-website">build-web-api-aspnet-core</a></p>
</div>
