@{
    ViewData["Title"] = ".NET Core Showcases - Samuel Santos Skills";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>    
    <p><strong>Samuel Santos - Full Stack Developer</strong></p>
    <p>I've been working in Rio de Janeiro, Brazil for more than 25 years in software development and team management</p>
    <p>Graduated in Mechanical Engineering from Federal University of Rio de Janeiro - UFRJ + Researcher in Robotics Lab until graduation<br>
    Post-graduated in Computer Science & System Project Management from Pontifícia Universidade Católica - PUC</p>
    <quote>I am a researcher by nature and one of my research projects was awarded and recognized with the ABCM-EMBRAER 2004 prize.</quote>
    <p>I am a T-shaped person collaborating and nurturing multiple areas of connections. As I am a developer with a mechanical engineering, academic research and financial background, I can easily cross beyond borders building strong bridges with network, security, compliance, sales and business teams.</p>
    <p>For the last 10 years I have been working asynchronously as a Full Stack Developer specializing in JavaScript and C# .NET. in a full remote position in a Fintech company that develops stock market trading solutions, using Quant trading strategies.</p>
</div>
<div>
    <p>Project Description:</p>
    <ul>
        <li>
            CORE Resources
            <uL>
                <li><b>AZURE Cloud</b> hosting sevices</li>
                <li><b>GitHub Version Control</b></li>
                <li>GitHub <b>CI/CD</b> Azure Pipeline</li>
                <li><b>.NET Core Framework</b></li>
                <li><b>VS Code</b> using GitHub <b>Codespaces</b> development environment</li>
                <li><b>C#</b> language in Backend</li>
                <li><b>JavaScript</b> language in Frontend</li>
                <li><b>HTML5, CSS, SCSS</b> in web pages layout</li>
                <li><b>JQuery Framework</b> in Frontend</li>
            </uL>
        </li>
        <li>
            This Showcases Portal
            <ul>
                <li><b>JQuery Framework</b> in Frontend</li>
            </ul>
        </li>
        <li>
            Soccer Team Manager Persistence Layer
            <ul>
                <li><b>RESTFul API microservice</b></li>
                <li><b>SQL Server RDBMS</b> in AZURE Cloud</li>
                <li><b>Entity Framework (EF) Core</b> for data access and object-relational mapper</li>
                <li><b>C# and .NET Core Framework</b></li>
            </ul>
        </li>
        <li>
            Pizza App
            <ul>
                <li><b>RESTFul API microservice</b></li>
                <li><b>C# and .NET Core Framework</b> in Backend</li>
                <li><b>React.js Framework</b> in Frontend</li>
            </ul>
        </li>
        <li>
            Car App
            <ul>
                <li><b>RESTFul API microservice</b></li>
                <li><b>C# and .NET Core Framework</b> in Backend</li>
                <li><b>Angular.js Framework</b> in Frontend</li>
            </ul>
        </li>
        <li>
            Information Provider
            <ul>
                <li><b>RESTFul API microservice</b></li>
                <li><b>C# and .NET Core Framework</b> in Backend</li>
                <li><b>Open API</b> data integration</li>
            </ul>
        </li>
    </ul>
</div>